*{
    margin: 0;
}
@media (max-width: 480px) {  
.presentation h1{
   text-align: center;
   padding-left: 1rem;
}
.header img{
    width: 7rem;
    height:7rem;
   padding-top: 6rem;
   padding-left: 2rem;  
}
.header h1{
    margin-top: 0.8rem;
   font-size: 1.1rem;
}
.header{
    background-color: rgb(255, 81, 0);
    display: flex;
    
}
.description h2{
    font-size:1.4rem;
    text-align: center;
    margin-bottom: 1rem;
  
}
.description{
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    text-align: center;
    margin-right: 1rem;
    background-color:rgb(255, 81, 0);
}

.main h2{
    text-align: center;
    margin-top: 1rem;
}
.main hr{
    width: 27vh;
    justify-content: center;
    margin-left: 5.3rem;
    height: 0.1rem;
    background-color: black;
}

.containers-proyects img{
    width: 7rem;
    height:7rem;
    margin-top: 1rem;
    margin-left: 2rem;

}
.containers-proyects{
    display: flex;
    border: solid black;
    width: 19rem;
    height: 10rem;
    margin-top: 1.5rem;
    
}
.containers-proyects p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
.description1{
    font-size: 1.1rem;
    text-align: center;
    background-color:rgb(255, 81, 0) ;
}

 
.containers-references{
    display: flex;
    border: solid rgb(0, 0, 0);
    width: 19rem;
    height: 6rem;
    margin-top: 1.5rem;
    margin-left: 2.7rem;
}
.references p{
    font-size: 1.1rem;
    margin-top: 0.5rem;
    padding-left: 3rem;
    text-align: center;
}
.references hr{
    width: 25vh;
    justify-content: center;
    margin-left: 5.7rem;
    height: 0.1rem;
    background-color: black;
}

.imagesexperiences img{
    margin-top: 1.8rem;
}

.imagesexperiences p{
    padding-left: 1rem;
    text-align: center;
    font-size:  1.4rem;
}


.html img{
    width: 9rem;
    margin-left: 7.5rem;
}
.css img{
    width: 6rem;
    margin-left: 9rem;
}
.js img{
    width: 14rem;
    margin-left: 5rem;
}

.php img{
    margin-left: 7rem;
    width:10rem;
}

progress{
   margin-left: 7rem;
   height: 2rem;
   border: solid rgb(255, 255, 255) 1px;
   border-radius: 5rem;
}
progress::-webkit-progress-bar {
    background-color: #ffad76;
    border-radius: 5rem;
}

progress::-webkit-progress-value {
    background-color:rgb(255, 81, 0);
    border-radius: 5rem;
}

}